@model IEnumerable<IEnumerable<PhotoContest.Web.Models.ViewModels.ContestViewModelHomePage>>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Team SCONEBRO</h1>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Active contests</h3>
            </div>
            @foreach (var activeContest in Model.First())
            {
                <div class="panel-body">
                    <div>
                        <div>
                            <a href="#">@activeContest.Title</a>
                        </div>
                        <div>
                            <span>@activeContest.CreatedOn</span>
                        </div>
                    </div>
                </div>
            }
            <a href="" class="btn btn-primary">See more</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Closed contests</h3>
            </div>
            @foreach (var inactiveContest in Model.Last())
            {
                <div class="panel-body">
                    <div>
                        <div>
                            <a href="#">@inactiveContest.Title</a>
                        </div>
                        <div>
                            <span>@inactiveContest.CreatedOn</span>
                        </div>
                    </div>
                </div>
            }
            <a href="" class="btn btn-primary">See more</a>
        </div>
    </div>
</div>
