@font-face {
    font-family: 'LogoFont'; 
    src: url('fonts/DESTROY_.ttf'); 
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.contest-image {
    width: 200px;
    height: 200px;
}

.image-container, .image-title, .image {
    text-align: center;
}

.image-container {
    border-bottom: 1px solid gold
}

#site-logo {
    width: 50px;
    height: 50px;
}

#site-name {
    color: darkolivegreen;
    font-size: 26px;
    /*font-weight: bold;*/
    font-family: 'LogoFont';
}

a#site-name:hover {
    text-decoration: none;
    color: white;
}

footer p {
    text-align: center;
}

.jumbotron h1 {
    text-align: center;
}

ul.nav.navbar-nav {
    margin-left: 50px;
}

h3.panel-title {
    font-size: 26px;
}

.active.contest-title a {
    font-size: 22px;
    color: green;
}

.inactive.contest-title a {
    font-size: 22px;
    color: grey;
}

.description, .author {
    font-size: 20px;
}

.author a:hover {
    text-decoration: none
}

.contest-title a:hover {
    text-decoration: none;
}

.create-on {
    font-size: 16px;
}

.contest-create-on {
    display: block;
    text-align: right;
    font-size: 16px;
}

.row.see-more-btn {
    text-align: center;
}

.create-contest-success {
    color: lightgreen
}

.nav.navbar-nav.nav-pills {
    margin-left: 0;
}

.row.vote-button-container {
    margin-top: 100px;
}

#vote-error {
    font-size: 22px;
    text-align: center;
    color: red;
}

#vote-success {
    font-size: 22px;
    text-align: center;
    color: green;
}

.item-title {
    font-size: 18px;
    color: darkolivegreen;
}

.contest-info {
    font-size: 18px;
    text-align: right;
}

.theme {
    overflow: auto;
}

a.fancybox img {
    border: none;
    box-shadow: 0 1px 7px rgba(0,0,0,0.6);
    -o-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a.fancybox:hover img {
    position: relative;
    z-index: 999;
    -o-transform: scale(1.03,1.03);
    -ms-transform: scale(1.03,1.03);
    -moz-transform: scale(1.03,1.03);
    -webkit-transform: scale(1.03,1.03);
    transform: scale(1.03,1.03);
}

div#fancybox-title.fancybox-title-inside {
    margin: 0 !Important;
}