@font-face {
    font-family: 'LogoFont'; 
    src: url('fonts/DESTROY_.ttf'); 
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.contest-image {
    width: 200px;
    height: 200px;
}

.image-container, .image-title, .image {
    text-align: center;
}

.image-container {
    border-bottom: 1px solid gold
}

#site-logo {
    width: 50px;
    height: 50px;
}

#site-name {
    color: darkolivegreen;
    font-size: 26px;
    /*font-weight: bold;*/
    font-family: 'LogoFont';
}

a#site-name:hover {
    text-decoration: none;
    color: white;
}

footer p {
    text-align: center;
}

/*.jumbotron {
    background-image: url("~/Content/images/logo/filmstrip.png")
}*/

.jumbotron h1 {
    text-align: center;
}

ul.nav.navbar-nav {
    margin-left: 50px;
}

h3.panel-title {
    font-size: 26px;
}

.active.contest-title a {
    font-size: 22px;
    color: green;
}

.inactive.contest-title a {
    font-size: 22px;
    color: grey;
}

.contest-title a:hover {
    text-decoration: none;
}

.contest-create-on {
    display: block;
    text-align: right;
}

.row.see-more-btn {
    text-align: center;
}

.btn.btn-primary.see-more {
    /*display: inline-block;
    text-align: center;*/
}

.create-contest-success {
    color: lightgreen
}