
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@* TODO: Add partial view to list all active contests *@
@* TODO: Add partial view to list all inactive contests *@

@* TODO: Add partial view for "Add new contest" buttton *@

